.all {
    min-width: 150px;
    height: 200px;
    border-color: 3px solid black;
    margin: 10px 10px;
}

img{
    min-width: 150px;
    height: 200px;
    border-color: 3px solid black;
    margin: 10px 10px;
}

.all:hover{
    min-width: 175px;
    height: 230px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.Name, .Attack_Defence, .Cost, #crystalls, #bot, #player {
    color: white;
}

#bot, #player {
    font-size: large;
}

#battle-field {
    min-width: 80%;
    height: 600px;
}

.invisible{
    min-width: 150px;
    height: 230px;
    display: none;
}

.cards, .mycards {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    overflow-y: hidden;
    overflow-x: auto;
}

#main {
    text-align: center;
    display: flex;
    /* display: flex;
    align-items: center; */
}

#info{
    display: flex;
}

span{
    color: white;
}

#button{
    background-color: white; 
    border: none;
    margin-top: 20px;
    height: 30px;
    border-radius: 30px;
    width: 150px;
    outline: none;
}

#button:hover{
    color: white;
    transition: all 1s ease-out;
    background: linear-gradient(90deg, rgba(188,64,114,1) 0%, rgba(25,33,93,1) 100%);
    /* background: tomato; */
}